<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.AAD.DA.Properties.Settings.dbupcaadConnectionString"
            connectionString="Data Source=dbupcaad.c7hd087gmch2.us-east-2.rds.amazonaws.com;Initial Catalog=dbupcaad;User ID=admin;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>